#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navi-bar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 5vh;
  border-bottom: 1px solid #ebebeb;
  width: 100%;
  padding: 0 20px;
  background-color: #ffffff;
}

.navi-bar .navi-title {
  font-weight: bold;
  color: #333333;
  line-height: 50px;
  font-size: 22px;
}

.navi-bar .navi-center-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navi-bar .navi-center-container .navi-button {
  padding: 10px;
  font-size: 16px;
  color: #9c9c9c;
}

.navi-bar .navi-center-container .navi-button-selected {
  padding: 10px;
  font-size: 18px;
  color: #333333;
}

.navi-bar .navi-right-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.content-container {
  display: flex;
  width: 100%;
  height: 95vh;
  flex-flow: column nowrap;
  padding: 40px 200px;
  margin-top: 5vh;
}

.pool-manager-wrap {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.content-container .content-title-container {
  padding: 20px;
  font-weight: bold;
  color: #333333;
  font-size: 20px;
}

.content-container .content-inner {
  flex: 1;
  width: 100%;
}

.content-container .content-inner .content-inner-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.content-container
  .content-inner
  .content-inner-top
  .content-inner-top-divider {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.add-pool-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add-pool-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  width: 800px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.add-pool-container .add-pool-title {
  font-size: 18px;
  font-weight: 700;
  color: #333333;
  padding: 20px;
  border-bottom: 1px solid #ebebeb;
  align-self: stretch;
}

.form-container {
  width: 800px;
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: 700;
  color: #333333;
  font-size: 16px;
  padding: 20px;
}

.form-group .add-pool-input {
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  margin: 0 20px;
}

.form-group .add-pool-input:focus {
  outline: none;
  border-color: #1677ff;
}

.form-group .add-pool-input:hover {
  outline: none;
  border-color: #1677ff;
}

.form-group .add-pool-select {
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  margin: 0 20px;
}

.form-submit {
  padding: 40px 20px 40px;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

.form-group-horizontal {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 0 20px 20px;
}

.form-group-horizontal .price-range-item {
  flex: 1;
  flex-flow: column nowrap;
  display: flex;
  gap: 5px;
}

.add-pool-current-price {
  font-size: 20px;
  color: #333333;
  padding: 0 20px 20px;
}

.add-pool-price-slider {
  padding: 0 20px 20px;
}

.add-position-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.position-relative {
  position: relative;
}

.add-position-label {
  font-size: 18px;
  font-weight: 600;
  color: #333333;
}

.add-position-label span {
  color: red;
}

.add-position-token-wrap {
  display: grid;
  grid-template-columns: 3fr 1fr; /* 每行两个子 div，宽度比例 3:1 */
  grid-auto-rows: minmax(50px, auto);
  padding: 10px;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  gap: 20px;
}

.add-position-token-wrap:hover {
  border-color: #1677ff;
}

.add-position-token-wrap .input-item {
  padding: 10px;
}

.add-position-token-wrap .input-display-item {
  padding: 10px 20px;
  font-size: 16px;
  color: #9c9c9c;
}

.add-position-token-wrap .select-item {
  padding: 10px 0;
}

.add-position-token-wrap .balance-item {
  padding: 10px 0;
  font-size: 16px;
  color: #333333;
}

.add-position-token-wrap .balance-item span {
  color: #9c9c9c;
}

.add-position-price-range-wrap {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.add-position-price-range-wrap .price-range-item {
  flex: 1;
  height: 40px;
  flex-flow: column nowrap;
  display: flex;
  gap: 5px;
}

.add-position-current-price-wrap-title {
  font-size: 18px;
  color: #333333;
  font-weight: 700;
  padding-top: 20px; /* 或者 margin-top: 20px */
}

.add-position-current-price {
  font-size: 18px;
  color: #333333;
  font-weight: 700;
}

.swap-wrap {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.swap-wrap .swap-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  width: 800px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.swap-container .swap-title {
  font-size: 18px;
  font-weight: 700;
  color: #333333;
  align-self: stretch;
}

.swap-container .swap-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 20px 0;
}

.swap-button {
  height: 45px;
}

.replace-wrap {
  position: absolute;
  top: 43%;
  left: 45%;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.replace-wrap:hover {
  border: 1px solid #1677ff;
}

.replace-wrap img {
  width: 35px;
  height: 35px;
}
